h1, h2, h3, h4 {
	font-family: 'Abril Fatface', cursive;
}

p, li {
	font-family: 'Oswald', sans-serif;
}
#nav li{
	display: inline;
}
#nav li ul{
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}
#nav li:hover ul{
	position: absolute;
	display: block;
	visibility: visible;
	opacity: 1;
}